*{
    margin: 0px;
    padding: 0px;
}

.banner-container {
    padding-bottom: -10px;
    background-color: #E554731A;
    display: flex;
    align-items: center;
    padding-left: 230px;
    padding-right: 230px;
  }
  
  .text-content {  
    text-align: left;
    color: #272727;
    padding: 60px;
  }

  .heading-text{
    color: #272727;
    font-family: Lato;
    font-size: 80px;
    font-weight: 800;
  }

  .info-text{
    width: 635px;
    color: #64535399;
    font-family: Lato;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

.banner-img{
    margin-top: 50px;
    margin-bottom: -5px;
}

.btn{
    font-size: larger;
    color: #ffffff;
    padding: 20px 40px;
    background: #E55473;
    border: none;
    border-radius: 10px;
}

.hot-deal-container{
    margin-top: 30px;
    background-color: #E554730D;
    display: flex;
    align-items: center;
    padding-left: 230px;
    padding-right: 230px;
}

.title{
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
}

.off{
   color:#E55473;
}

.hot-deal-image{
    margin-left: 20px;
    padding: 80px;
}

.hot-deal-text{
    text-align: center;
    color: #272727;
    padding: 60px;
}

.para-ins{
    padding-top: 20px;
    text-align: center;
    color: #64535399;
    font-family: Lato;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;


}
.four-img{
    display: flex;
    justify-content: space-around;
    margin-left: 230px;
    margin-right: 230px;

    

}